
<% if user_signed_in? %>
<div class="sidebar collapse" id="sidebar">
  <!-- Links Section -->
  <div>
    <%= link_to root_path, class: "d-flex align-items-center text-white" do %>
      <i class="bi bi-house-door me-2"></i> Home
    <% end %>

    <%= link_to home_dashboard_path, class: "d-flex align-items-center text-white" do %>
      <i class="bi bi-speedometer2 me-2"></i> Dashboard
    <% end %>

    <% if current_user.admin? %>
      <%= link_to admin_users_path, class: "d-flex align-items-center text-white" do %>
        <i class="bi bi-speedometer2 me-2"></i> User Management
      <% end %>
    <% end %>
  </div>

  <!-- Divider Line Above User Dropdown -->
  <hr class="user-dropdown-divider">

  <!-- User Dropdown -->
  <div class="user-dropdown">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user me-1"></i> User
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li>
          <%= link_to "Edit User", edit_user_registration_path, class: "dropdown-item" %>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" %>
        </li>
      </ul>
    </li>
  </div>
</div>
<% end %>
