<div id="<%= dom_id record %>">
  <p>
    <strong>Fecha:</strong>
    <%= record.fecha %>
  </p>

  <p>
    <strong>Concepto:</strong>
    <%= record.concepto %>
  </p>

  <p>
    <strong>Importe:</strong>
    <%= record.importe %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= record.comentario %>
  </p>

</div>